@media (max-width: 1400px) {
    .imgtxt {
      width: 100%;
      }
    .imgfrontlab{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    }
    @media (max-width: 800px) {
        .table{
            display:grid;
            grid-template-columns: 1fr;
            row-gap: 5px;
        }
    }