$gradiente: linear-gradient( to right, #abdde6, #f4f5f5);
$revgradiente: linear-gradient( to left, #abdde6, #e6fcfc);
$circgrad: radial-gradient(circle, #abdde6 10%, #f4f5f5 30%, #abdde6 50%);
$bordes: 8px; 
$wcards: 300px;