.cvdatos{
    display: block;
    justify-items: center;
    padding: 20px;
}
.gridcontacto{
    margin-left: 10px;
    margin-right: 10px;
}
.campform{
    border: solid 0.5px #A1d6e2;
}

fieldset{
    border: solid lightblue 2px;
    border-radius: $bordes;
}
.camp {
    margin: 10px;
}
.formu {
    margin: 20px;
    padding: 20px;
    border: solid blue 5px;
}
.itemform {
    margin:  20px;
}
