.bg-body-tertiary2{
    background: $circgrad;
}
.activo{
    &:hover{
    text-decoration: underline;
    border: 1px #abdde6 solid;
    border-radius: $bordes;
    }
    &:active{
        color: map-get($map: $colors, $key: verde-borde );
    }
}
