.desplegable{
    border: solid 2px;
    border-color: rgb(182, 216, 228) ;
    border-radius: 5px;
    background-color:#fdfdff;
    margin-left: 5px;
    margin-right: 5px;
  }
  .desplegable:hover{
    background: $gradiente;
  }
  .desplegado{
    background: $gradiente;
  }
  .accordion-button:focus {
    box-shadow: none;
    outline: none;
  }
  .card-body{
    width: $wcards;
  }
  .card-img-top{
    margin: 1px;
    border-radius: $bordes;
    width: $wcards;
    height: auto;
  }
  .card-title{
    text-align: center;
    text-decoration: underline;
  }
  .card-text{
    color:rgb(87, 87, 87) ;
    text-align: center;
  }
  .card{
    width: 310px;
    height: auto;
    border: solid 2px rgb(207, 207, 207);
    border-radius: $bordes;
  }
  