.desplegable{
    border: solid 2px;
    border-color: rgb(182, 216, 228) ;
    border-radius: $bordes;
    background-color:#fdfdff;
    margin-left: 5px;
    margin-right: 5px;
    &:hover{
      background: $gradiente;
      color: map-get($map: $colors, $key:verde-borde )
    }
    &:focus{
      background: $gradiente;
      color: map-get($map: $colors, $key:verde-borde )
    }
  }
  .desplegado{
    background: $gradiente;
  }
  .accordion-button:focus {
    box-shadow: none;
    outline: none;
  }
  .card-body{
    width: $wcards;
  }
  .card-img-top{
    margin: 1px;
    border-radius: $bordes;
    width: $wcards;
    height: auto;
  }
  .card-title{
    text-align: center;
    text-decoration: underline;
  }
  .card-text{
    color:map-get($map: $colors, $key:gris-texto );
    text-align: center;
  }
  .card{
    width: $wcards;
    height: auto;
    border: solid 2px rgb(207, 207, 207);
    border-radius: $bordes;
  }
 .btninfo{
    @include boton(solid 1px #1995AD, #A1d6e2  ,$bordes,5px,#09505e );
    &:hover{
        background: $gradiente;
        color: #09505e;
        border: solid 1px #1995AD;
    }
    &:active{
        background: $revgradiente;
        color: map-get($map: $colors, $key:verde-borde );
        border: solid 1px #1995AD;
    }
    &:focus{
        background: $revgradiente;
        color: map-get($map: $colors, $key:verde-borde );
        border: solid 1px #1995AD;
    }
}
  