@charset "UTF-8";
/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5 {
  font-family: "Poppins", serif;
  margin-left: 5px;
  margin-right: 5px;
}

/*utilities*/
@media (max-width: 1400px) {
  .imgtxt {
    width: 100%;
  }
  .imgfrontlab {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .table {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
  }
}
/*components*/
.carousel-img-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center; /* Centré las imágenes horizontalmente */
  align-items: center; /* Centré las imágenes verticalmente */
  overflow: hidden; /* Me saca sobrante de las imágenes */
}

.carousel-item img {
  width: 90%;
  height: 800px;
  object-fit: cover; /* ajusta la imagen sin distorsionarla */
}

.overlay-image {
  position: absolute; /* posiciona la imagen en relación al contenedor del carrusel */
  top: 50%; /* centré la imagen verticalmente */
  left: 50%; /* Centré la imagen horizontalmente */
  transform: translate(-50%, -50%); /* ajusta la imagen para que esté centrada exactamente */
  width: 400px;
  height: auto;
  z-index: 10; /* Pone que la imagen esté por encima del carrusel */
  opacity: 0.5;
}

.carousel-item img {
  height: 500px;
}

.cvdatos {
  display: block;
  justify-items: center;
  padding: 20px;
}

.gridcontacto {
  margin-left: 10px;
  margin-right: 10px;
}

.campform {
  border: solid 0.5px #A1d6e2;
}

fieldset {
  border: solid lightblue 2px;
  border-radius: 8px;
}

.camp {
  margin: 10px;
}

.formu {
  margin: 20px;
  padding: 20px;
  border: solid blue 5px;
}

.itemform {
  margin: 20px;
}

.btnsend, .btncv {
  border: solid 1px #1995AD;
  background: linear-gradient(to right, #abdde6, #f4f5f5);
  border-radius: 8px;
  margin: 5px;
  color: #09505e;
}
.btnsend:hover, .btncv:hover {
  background: linear-gradient(to left, #abdde6, #e6fcfc);
  color: #09505e;
  border: solid 1px #1995AD;
  transform: translate(0px, 2px);
}
.btnsend:active, .btncv:active {
  background: linear-gradient(to left, #abdde6, #e6fcfc);
  color: #09505e;
  border: solid 1px #1995AD;
}
.btnsend:focus, .btncv:focus {
  background: linear-gradient(to left, #abdde6, #e6fcfc);
  color: #09505e;
  border: solid 1px #1995AD;
}

.titledev {
  background: linear-gradient(to right, #abdde6, #f4f5f5);
  border: 1px #1995AD solid;
  text-align: center;
  text-decoration: underline;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
  text-align: center;
}
.table a {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px #1995AD solid;
  border-radius: 8px;
  color: rgb(87, 87, 87);
}
.table a:hover {
  background: linear-gradient(to right, #abdde6, #f4f5f5);
}

.imagen-desarrollos {
  height: 200px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.desplegable {
  border: solid 2px;
  border-color: rgb(182, 216, 228);
  border-radius: 8px;
  background-color: #fdfdff;
  margin-left: 5px;
  margin-right: 5px;
}
.desplegable:hover {
  background: linear-gradient(to right, #abdde6, #f4f5f5);
  color: #09505e;
}
.desplegable:focus {
  background: linear-gradient(to right, #abdde6, #f4f5f5);
  color: #09505e;
}

.desplegado {
  background: linear-gradient(to right, #abdde6, #f4f5f5);
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.card-body {
  width: 310px;
}

.card-img-top {
  margin: 1px;
  border-radius: 8px;
  width: 310px;
  height: auto;
}

.card-title {
  text-align: center;
  text-decoration: underline;
}

.card-text {
  color: rgb(87, 87, 87);
  text-align: center;
}

.card {
  width: 310px;
  height: auto;
  border: solid 2px rgb(207, 207, 207);
  border-radius: 8px;
}

.btninfo {
  border: solid 1px #1995AD;
  background: linear-gradient(to right, #abdde6, #f4f5f5);
  border-radius: 8px;
  margin: 5px;
  color: #09505e;
}
.btninfo:hover {
  background: linear-gradient(to left, #abdde6, #e6fcfc);
  color: #09505e;
  border: solid 1px #1995AD;
  transform: translate(0px, 2px);
}
.btninfo:active {
  background: linear-gradient(to left, #abdde6, #e6fcfc);
  color: #09505e;
  border: solid 1px #1995AD;
}
.btninfo:focus {
  background: linear-gradient(to left, #abdde6, #e6fcfc);
  color: #09505e;
  border: solid 1px #1995AD;
}

.pqe {
  margin: 20px;
}

.bg-body-tertiary2 {
  background: radial-gradient(circle, #abdde6 10%, #f4f5f5 30%, #abdde6 50%);
}

.activo:hover {
  text-decoration: underline;
  border: 1px #abdde6 solid;
  border-radius: 8px;
  animation: botonvbr 1s linear 0s infinite normal;
}
.activo:active {
  color: #09505e;
}

@keyframes aparicion-logo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.logoapear {
  animation: aparicion-logo 1.5s linear 0s 1 normal;
}

footer {
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, #abdde6 10%, #f4f5f5 30%, #abdde6 50%);
}

.rs {
  width: 50px;
  height: 50px;
}

.titulos {
  background: radial-gradient(circle, #abdde6 10%, #f4f5f5 30%, #abdde6 50%);
  background-size: 100% 60px;
}

/*# sourceMappingURL=style.css.map */
